body {
    background-color:mediumturquoise;
}

h1 {
    font-size: 44px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(191, 143, 206);
    text-align: center;
	padding: 5px;
	font color: rgb(116, 243, 184);
}

.image {
    margin-top: 10px;
    margin-left: 25px;
    width: 80px;
    height: 80px;
}

#randomNumber{
    font-size: 25px;
    background-color:rgb(57, 128, 128);
    padding: 15px;
    font-weight: bold;
	
	text-align: center;
	


}


#match{
    font-size: 25px;
    background-color:rgb(57,128,128);
	padding: 20px;
	text-align: center;
	font-weight: bold;


}
#WINLOST{
    background-color: rgb(57,128,128);
    
	font-weight: bold;
}

#score{
    font-size: 25px;
    background-color: rgb(116, 243, 184);
    padding: 25px;
	display: inline-block;
    text-align: start;
    font-weight: bold;

	
	

}
#scoreis{
background-color:rgb(116, 243, 184);
	font-size: 25px;
	font-weight: bold;
}
