body {
    background-color:mediumturquoise;
}

h1 {
    font-size: 32px;
    background: rosybrown;
    text-align: center;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.image {
    margin-top: 10px;
    margin-left: 25px;
    width: 80px;
    height: 80px;
}

#randomNumber{
    font-size: 15px;
    background-color:rgb(113, 57, 128);
    padding: 15px;
	
	text-align: center;
	


}


#match{
    font-size: 25px;
    background-color:slateblue;
	padding: 20px;
	text-align: center;
	font-weight: bold;


}
#WINLOST{
	background-color: slateblue;
	font-weight: bold;
}

#score{
    font-size: 25px;
    background-color: slateblue;
    padding: 25px;
	display: inline-block;
	text-align: center;
	
	

}
#scoreis{
background-color:slateblue ;
	font-size: 14px;
	font-weight: bold;
}
